doctype html
html(lang="en")
  head
    Title omegaUp - Toolkit
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="http://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    .navbar.navbar-default
      .container
        a(href="#").navbar-header
          .navbar-brand
            img(src="/media/omegaup.png").navbar-logo
            | Toolkit
        ul.nav.navbar-nav
          li
            a(href="/give") Give
    .container
      block content
