body {
  padding-top: 70px;
}

#notification-container {
  height: 50px;
}

#notification-container .alert {
  height: 50px;
  margin-bottom: 0;
  text-overflow: ellipsis;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.row {
  text-align: center;
}

.row-title h1, .row-title span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 5px;
}

.btn-group {
  margin-top: 5px;
}

.btn-primary:hover {
  background-color: #4477CC;
  border-color: #3366BB;
}

.btn-primary {
  background-color: #5588DD;
  border-color: #4477CC;
}

.navbar-logo {
  float: left;
  height: 20px;
}

.glyphicon-heart {
  color: #DD8888;
}

.glyphicon-home {
  color: #5588DD;
}

#give-report-picker {
  display: none;
}

.alert, .panel, .panel table td, .panel table, .thumbnail {
  border: 0 !important;
  box-shadow: none !important;
}

a.thumbnail {
  text-decoration: none !important;
}

.dashboard {
  height: 64px;
  color: black;
  overflow: hidden;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dashboard img, .dashboard i {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  font-size: 32px;
}

.towhitecolor {
  color: white;
}

.towhitefilter {
  filter: grayscale(100%) invert() brightness(1000%);
}

.caption {
  width: 100%;
  font-size: 12px;
}

.caption p.title {
  font-weight: bold;
}
