extends ../base.pug
block content
  script(src="/js/home.js")
  .panel.panel-default
    .panel-body
      .row
        .col-xs-3.col-md-3
          a.thumbnail(href="https://omegaup.com", target="_blank")
            img.dashboard(src="/img/omegaup.square.png")
            .caption
              img(src="/img/omegaup.png")
        .col-xs-3.col-md-3
          a.thumbnail(href="https://trello.com/omegaup", target="_blank")
            img.dashboard(src="/img/trello-mark-blue.png")
            .caption
              img(src="/img/trello-logo-blue.png")
        .col-xs-3.col-md-3
          a.thumbnail(href="slack://omegauporg.slack.com", target="_blank")
            img.dashboard(src="/img/Slack App Icon.png")
            .caption
              img(src="/img/slack_rgb.png")
        .col-xs-3.col-md-3
          a.thumbnail(href="https://tracker.toptal.com/app/web-tracker", target="_blank")
            i.glyphicon.glyphicon-time.dashboard
            .caption
              p toptracker
        .col-xs-3.col-md-3
          a.thumbnail(href="https://docs.google.com/a/omegaup.com/spreadsheets/d/1l2H_wFmBOi6bec8cYi8B8mo2mIhf5jNcK5sBzGMPkgk/edit?usp=sharing", target="_blank")
            img.dashboard(src="/img/logo_sheets_128px.png")
            .caption
              p bussiness cards
  //
    TODO:
    Link a correo
    Link to onenote
    Link to time tracker
