extends ../base.pug
block content
  script(src="/js/home.js")
  .panel.panel-default
    .panel-body
      .row#dashboard-row
  //
    TODO:
    shortcut help
    Descriptions
    Link a correo
    linkedin
    .org
