.navbar-logo {
  float: left;
  height: 20px;
}

#volunteer-report-picker {
  display: none;
}

#volunteer-info.jumbotron {
  margin: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

.glyphicon-heart {
  color: red;
}
