h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.navbar-logo {
  float: left;
  height: 20px;
}

#give-report-picker {
  display: none;
}

.glyphicon-heart {
  color: red;
}

.glyphicon-home {
  color: #58D;
}

.alert, .panel, .navbar, .panel table td, .panel table {
  border: 0 !important;
  box-shadow: none !important;
}

.dashboard {
  height: 128px;
  width: 100%;
  text-align: center;
  font-size: 92px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dashboard img, .dashboard i {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.caption {
  width: 100%;
}

.caption p.title {
  text-align: center;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}
